/* ОСНОВНОЕ */

body {
 margin: 0px;
 font-family: Helvetica;
 color: #505050;
}

div.header {
 padding: 5px;
 background: #5ba7e9;
}

a.header {
 margin-left: 10px;
 font-size: 14px;
 color: #ffffff;
 font-weight: bold;
 text-decoration: none;
}

a.header:hover {
 text-decoration: underline;
}

div.header_login {
 margin-right: 10px;
 display: inline-block;
 float: right;
}

div.content {
 margin: 5px;
}

h1 {
 margin: 20px 10px;
}