/* ОСНОВНОЕ */

body {
 margin: 0px;
 font-family: Helvetica;
 color: #505050;
}

div.b_header {
 padding: 5px;
 background: #5ba7e9;
}

a.b_header {
 margin-left: 10px;
 font-size: 14px;
 color: #ffffff;
 font-weight: bold;
 text-decoration: none;
}

div.b_header_login {
 display: inline-block;
 text-align: right;
}

div.b_body {
 margin: 5px;
}

h1 {
 margin: 20px 10px;
}