/* ФОРМЫ */

/* Формы постинга сообщений и тем */
input {
 display: block;
 margin: 10px;
 height: 24px;
 width: 150px;
}

textarea {
 display: block;
 margin: 3px 0px 10px 10px;
 height: 72px;
 width: 300px;
}

input.submit {
 color: #ffffff;
 font-size: 14px;
 cursor: pointer;
 background: #5ba7e9;
 border: none;
}

input.submit:hover {
 background: #6ab1eb;
}

/* Кнопки форматирования сообщений */
.format_block {
 margin: 5px 0px 0px 10px;
}

.format_button:hover {
 cursor: pointer;
 opacity: 0.85;
}

/* Псевдокнопка (ссылка текст в рамке) */
.button {
 display: inline-block;
 margin: 10px;
 padding: 4px;
 width: 142px;
 font-size: 14px;
 text-align: center;
 color: #ffffff;
 cursor: pointer;
 text-decoration: none;
 background: #5ba7e9;
}

.button:hover {
 background: #6ab1eb;
}