/* СПИСОК ТЕМ */

/* Столбцы таблицы */
.table_head {
 margin-right: 55px;
}

.table_avatar {
 display: inline-table;
 vertical-align: middle;
 width: 55px;
}

.table_main {
 display: inline-table;
 width: 57%;
 vertical-align: middle;
}

.table_counters {
 display: inline-table;
 width: 15%;
 vertical-align: middle;
 text-align: center;
}

.table_editor {
 display: inline-table;
 width: 15%;
 vertical-align: middle;
 text-align: center;
}