/* СПИСОК ТЕМ */

/* Столбцы таблицы */
.table-head {
 margin-right: 55px;
}

.table-avatar {
 display: inline-table;
 vertical-align: middle;
 width: 55px;
}

.table-main {
 display: inline-table;
 width: 57%;
 vertical-align: middle;
}

.table-counters {
 display: inline-table;
 width: 15%;
 vertical-align: middle;
 text-align: center;
}

.table-editor {
 display: inline-table;
 width: 15%;
 vertical-align: middle;
 text-align: center;
}