/* ЛИЧНЫЕ СООБЩЕНИЯ */

/* Строки таблицы (заголовок, тёмное, светлое) */
div.mb_table_head {
 margin: 0px 10px;
 padding: 8px;
 background: #707070;
}

div.mb_table_dark {
 margin: 0px 10px;
 padding: 8px;
 background: #ebebeb;
}

div.mb_table_light {
 margin: 0px 10px;
 padding: 8px;
 background: #f8f8f8;
}

/* Текст в ячейках заголовка */
div.mb_table_head_main {
 display: inline-table;
 width: 95%;
 vertical-align: middle;
 font-size: 16px;
 color: #ffffff;
}

/* Разметка столбцов */
div.mb_table_select {
 display: inline-table;
 width: 5%;
 vertical-align: middle;
 text-align: center;
}

div.mb_table_main {
 display: inline-table;
 width: 90%;
 vertical-align: middle;
}

/* Текст в ячейках таблицы */
div.mb_message_select {
 line-height: 22px;
 font-size: 15px;
}

a.mb_subject {
 margin-right: 10px;
 line-height: 22px;
 font-size: 16px;
 font-weight: bold;
 color: #505050;
 text-decoration: none;
}

a.mb_sender {
 font-size: 10px;
 color: #294aa6;
 text-decoration: none;
}

div.mb_detail {
 font-size: 10px;
}