/* ЛИЧНЫЕ СООБЩЕНИЯ */

/* Выбор ящика */
.box-select {
 margin: 10px 10px 15px 10px;
}

.box-item {
 padding: 3px 6px;
 background: #707070;
}

.box-item:hover {
 background: #7c7c7c;
}

.selected {
 background: #5ba7e9;
}

.selected:hover {
 background: #6ab1eb;
}

/* Разметка столбцов */
.table-main {
 display: inline-table;
 width: 61%;
 vertical-align: middle;
}

.table-move {
 display: inline-table;
 width: 18%;
 vertical-align: middle;
 text-align: center;
}