/* НОВОЕ ЛИЧНОЕ СООБЩЕНИЕ */

/* Диалог выбора пользователя */
#overlay {
 display: none;
 opacity: 0.6;
 position: fixed;
 top: 0px;
 left: 0px;
 background: #ffffff;
 height: 100%;
 width: 100%;
}

#dialogbox {
 display: none;
 position: absolute;
 left: 40%;
 top: 30%;
 padding: 15px;
 width: 200px;
 height: 250px;
 text-align: center;
 border: solid black 1px;
 background: #eeeeee;
}

#dialog_input {
 margin: 10px 0px;
 width: 200px;
}

#dialog_select {
 width: 200px;
 margin-bottom: 10px;
}