/* ПРОФИЛЬ ПОЛЬЗОВАТЕЛЯ */

/* Аватар (в т.ч. на странице редактирования) */
.avatar-block {
 display: inline-table;
 vertical-align: top;
 margin: 7px 10px;
}

.avatar {
 float: none;
 margin: 0px;
 border: 1px solid #888888;
}

.avatar-wrap {
 margin-top: 5px;
 margin-bottom: 5px;
 overflow: hidden;
 height: 24px;
 width: 152px;
 text-align: center;
 color: #ffffff;
 font-size: 14px;
 background: #5ba7e9;
}

.avatar-wrap:hover {
 background: #6ab1eb;
}

.avatar-button-text {
 margin-top: 3px;
}

input.avatar-button {
 font-size: 30;
 margin-top: -30px;
 margin-left: -30px;
 opacity: 0;
}

/* Информация */

.info-block {
 display: inline-table;
 margin: 3px;
}

.info-text {
 margin-bottom: 23px;
 vertical-align: top;
}

.info-text-name {
 display: inline-table;
 margin: 0px 50px 0px 0px;
}

.info-text-value {
 display: inline-table;
 margin: 0px;
}

/* Поля изменения профиля */
input.edit-field {
 display: block;
 margin: 0px 0px 2px 0px;
 height: 21px;
 width: 150px;
 font-size: 14px;
 color: #505050;
}

input.last {
 margin-bottom: 0px;
}