/* ТЕМА */

.avatar {
 float: left;
 padding: 12px 5px 5px 5px;
 width: 50px;
}

.message_block {
 margin-left: 65px;
 margin-bottom: 10px;
 border: 1px dashed #888888;
 background: #eeeeee;
}

.message_body {
 padding: 8px;
}

.message_info {
 display: inline-table;
 width: 80%;
}

.message_options {
 display: inline-table;
 width: 19%;
 text-align: right;
}

.message_text {
 white-space: pre-wrap;
}

.edit_del {
 margin-left: 8px;
}