/* СПИСОК ПОЛЬЗОВАТЕЛЕЙ */

/* Разметка столбцов */
.table_login {
 display: inline-table;
 width: 36%;
 vertical-align: middle;
}

.table_detail {
 display: inline-table;
 width: 15%;
 vertical-align: middle;
 text-align: center;
}