.tiny-text {
 font-size: 10px;
}

h5 {
 margin-top: 8px;
 margin-bottom: 6px;
 font-weight: bold;
}

.found {
 display: inline;
 padding: 1px;
 background: #8DBBE3;
}

.valign-middle {
 vertical-align: middle !important;
}

.message-text {
 padding-top: 20px !important;
 padding-bottom: 20px !important;
 white-space: pre-wrap;
}

.input-file-wrap {
 display: inline-block;
 width: 24px;
 height: 24px;
 margin-top: 5px;
 overflow: hidden;
}

.input-file-button {
 width: 100px;
 font-size: 22px;
 margin-top: -30px;
 margin-left: -30px;
 opacity: 0;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
 -moz-opacity: 0;
}