<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% block title %}{% endblock %}    
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="/static/form.css">
    <link rel="stylesheet" type="text/css" href="/static/forum.css">
    <link rel="stylesheet" type="text/css" href="/static/topic.css">
    <link rel="stylesheet" type="text/css" href="/static/userlist.css">
    <link rel="stylesheet" type="text/css" href="/static/profile.css">
    <link rel="stylesheet" type="text/css" href="/static/profile_edit.css">
    <link rel="shortcut icon" href="/static/icon_main.png">
    <script src="/static/js/format.js"></script>
</head>
<body>

<div class="b_header">
    <a class="b_header" href="{{url_for('index')}}">Home</a>
    <a class="b_header" href="{{url_for('forum')}}">Forum</a>
    <a class="b_header" href="{{url_for('userlist')}}">Users</a>
    {% if user.is_authenticated() %}
    <a class="b_header" href="{{url_for('my_profile')}}">Profile</a>
    {% endif %}

    <div class="b_header_login">
        {% if user.is_authenticated() %}
        <a class="b_header" href="{{url_for('logout')}}">Logout ({{user.login}})</a>
        {% else %}
        <a class="b_header" href="{{url_for('login')}}">Login</a>
        <a class="b_header" href="{{url_for('register')}}">Register</a>
        {% endif %}
    </div>
</div>

<div class="b_body">
  {% block content %}{% endblock %}
</div>

</body>
</html>