{% extends "base.html" %}

{% block head %}
    <title>Fill</title>
{% endblock %}

{% block content %}
<h1>Fill</h1>

<hr>

<form class="form-horizontal" role="form" method="post">
    <div class="form-group">
        <label class="col-md-1 control-label">Topics:</label>
        <div class="col-md-1">
            {{form.topics(class="form-control", value="10")}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">Messages:</label>
        <div class="col-md-1">
            {{form.messages(class="form-control", value="50")}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <input class="btn btn-primary form-control" type="submit" value="Fill in!">
        </div>
    </div>
</form>

{% endblock %}