{% extends "base.html" %}

{% block head %}
    <title>Forum</title>
{% endblock %}

{% block content %}
<h1>Forum</h1>

<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Topic</th>
            <th>Replies and views</th>
            <th>Last post</th>
        </tr>
    </thead>

    <tbody>
        {% for topic in all_topics[pagination.first:pagination.last] %}
        <tr>
            <td>
                <a href="{{url_for('user_profile', user_id=topic.ForumTopic.author.id)}}">
                    <img src="{{topic.ForumTopic.author.avatar_thumb}}" title="{{topic.ForumTopic.author.login}}">
                </a>
            </td>
            <td>
                <h5><a href="{{url_for('topic', topic_id=topic.ForumTopic.id)}}">{{topic.ForumTopic.name}}</a></h5>
                <div class="tiny-text">posted by <a href="{{url_for('user_profile', user_id=topic.ForumTopic.author.id)}}">{{topic.ForumTopic.author.login}}</a>, {{topic.ForumTopic.time_first.strftime('%d %b %Y')}}</div>
            </td>
            <td>
                replies: {{topic.mes_count-1}}
                views: {{topic.ForumTopic.views}}
            </td>
            <td>
                {% if topic.ForumTopic.editor.id != Null %}
                by <a class="normal" href="{{url_for('user_profile', user_id=topic.ForumTopic.editor.id)}}">{{topic.ForumTopic.editor.login}}</a>
                {{topic.ForumTopic.time_last.strftime('%H:%M, %d %b %Y')}}
                {% else %}
                no posts
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    <li><a href="{{url_for('forum', page=1)}}">&laquo;</a></li>
    {% for page_number in pagination.pages_list %}
    <li{% if page_number == pagination.page %} class="active"{% endif %}>
        <a href="{{url_for('forum', page=page_number)}}">{{page_number}}</a>
    </li>
    {% endfor %}
    <li><a href="{{url_for('forum', page=pagination.pages)}}">&raquo;</a></li>
</ul>

<hr>

{% if user.is_authenticated() %}
<form class="form-horizontal" role="form" method="post" onsubmit="return PostingFormValidate()">
    {{form_topic.hidden_tag()}}
    {{form_message.hidden_tag()}}
    <div class="form-group">
        <div class="col-md-3">
            {{form_topic.topic(placeholder="New topic", class="form-control", onkeyup="PostingFormUnmark(this)")}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <div class="btn btn-xs btn-primary" onclick="makeFormated('b')"}}">bold</div>
            <div class="btn btn-xs btn-primary" onclick="makeFormated('i')"}}">italic</div>
            <div class="btn btn-xs btn-primary" onclick="makeFormated('u')"}}">underlined</div>
            <div class="btn btn-xs btn-primary" onclick="makeURL()"}}">url</div>
            <div class="btn btn-xs btn-primary" onclick="makeIMG()"}}">image</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            {{form_message.message(class="form-control", rows="4", placeholder='Enter your text here', onkeyup="PostingFormUnmark(this)")}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
            <input class="btn btn-primary form-control" type="submit" value="Post">
        </div>
    </div>
</form>
{% endif %}

{% endblock %}