{% extends "base.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block content %}
<h1>Login</h1>

<hr>

<form class="form-horizontal" role="form" action="" method="post" name="edit">
    <div class="form-group">
        <div class="col-md-3">
            {{login_form.login(class="form-control", placeholder="Login")}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            {{login_form.password(class="form-control", type="password", placeholder="Password")}}
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="Login">
</form>

{% endblock %}