{% extends "base.html" %}

{% block title %}
    <title>Mailbox</title>
{% endblock %}

{% block content %}
<h1>Mailbox</h1>

<div class="f_table_head">
    <div class="mb_table_head_main">Messages</div>
</div>

{% for message in messages %}
<div class="mb_table_{{loop.cycle('light', 'dark')}}">
    <div class="mb_table_select">
        <div class="mb_message_select"><input class="checkbox" type="checkbox"></div>
    </div>
    <div class="mb_table_main">
        <a class="mb_subject" href="{{url_for('mail_read', message_id=message.id)}}">{{message.subject}}</a>
        <div class="mb_detail">from <a class="mb_sender" href="{{url_for('user_profile', user_id=message.sender_id)}}">{{message.sender.login}}</a>, {{message.date.strftime('%d %b %Y')}}</div>
    </div>
</div>
{% endfor %}

<hr>

<form method="post" onsubmit="return PostingFormValidate()">
    {{form_recepient.hidden_tag()}}
    {{form_subject.hidden_tag()}}
    {{form_message.hidden_tag()}}
    {{form_recepient.recepient(placeholder='Username', class='form_recepient', onkeyup="PostingFormUnmark(this)")}}
    {{form_subject.topic(placeholder='Subject', class='form_topic', onkeyup="PostingFormUnmark(this)")}}
    <div class="format_block">
        <img class="format_button" src="/static/button_bold.png" onclick="makeFormated('b')">
        <img class="format_button" src="/static/button_italic.png" onclick="makeFormated('i')">
        <img class="format_button" src="/static/button_underlined.png" onclick="makeFormated('u')">
        <img class="format_button" src="/static/button_url.png" onclick="makeURL('url')">
        <img class="format_button" src="/static/button_img.png" onclick="makeIMG('img')">
    </div>
    {{form_message.message(placeholder='Enter your text here', class="form_message", onkeyup="PostingFormUnmark(this)")}}
    <input class="submit_button" type="submit" value="send">
</form>

{% endblock %}