{% extends "base.html" %}

{% block title %}
    <title>New message</title>
{% endblock %}

{% block content %}
<h1>New message</h1>

<form method="post" onsubmit="return PostingFormValidate()">
    {{form_recepient.hidden_tag()}}
    {{form_subject.hidden_tag()}}
    {{form_message.hidden_tag()}}
    {% if recepient %}
        {{form_recepient.recepient(value=recepient.login, class='form_recepient', onclick='PostingFormUnmark(this); selectUserOpen()')}}
    {% else %}
        {{form_recepient.recepient(placeholder='Username', class='form_recepient', onclick='PostingFormUnmark(this); selectUserOpen()')}}
    {% endif %}
    {% if subject %}
        {{form_subject.topic(value=subject, class='form_topic', onkeyup='PostingFormUnmark(this)')}}
    {% else %}
        {{form_subject.topic(placeholder='Subject', class='form_topic', onkeyup='PostingFormUnmark(this)')}}
    {% endif %}
    <div class="format_block">
        <img class="format_button" src="/static/button_bold.png" onclick="makeFormated('b')">
        <img class="format_button" src="/static/button_italic.png" onclick="makeFormated('i')">
        <img class="format_button" src="/static/button_underlined.png" onclick="makeFormated('u')">
        <img class="format_button" src="/static/button_url.png" onclick="makeURL('url')">
        <img class="format_button" src="/static/button_img.png" onclick="makeIMG('img')">
    </div>
    {{form_message.message(placeholder='Enter your text here', class="form_message", onkeyup="PostingFormUnmark(this)")}}
    <input class="submit_button" type="submit" value="Send">
</form>

<div id="mw_dialog_overlay"></div>
<div id="mw_dialog_box">
    <div class="mw_select_header">Select recepient</div>
    <input id="mw_dialog_input" type="text" onkeyup="selectSearch()">
    <select id="mw_dialog_select" size="8" onclick="selectUser(this)" ondblclick="selectUserClose()">
        {% for user in all_users %}
        <option>{{user.login}}</option>
        {% endfor %}
    </select>
    <div class="mw_dialog_close" onclick="selectUserClose()">Ok</div>
</div>

{% endblock %}