{% extends "base.html" %}

{% block head %}
    <title>Mail: {{message.subject}}</title>
    <link rel="stylesheet" type="text/css" href="/static/mail_read.css">
{% endblock %}


{% block content %}
<h1>{{message.subject}}</h1>

<div class="mr_message_body">
    <div class="tiny">
        from <a class="tiny" href="{{url_for('user_profile', user_id=message.sender_id)}}">{{message.sender.login}}</a>,
        {{message.date.strftime('%H:%M, %d %b %Y')}}
    </div>
    <hr>
    <div class="message_text normal">{{message.text|safe}}</div>
</div>

<a class="button" href="{{url_for('mail_write', recepient=message.sender.id, subject=message.subject)}}">Reply</a>

{% endblock %}