{% extends "base.html" %}

{% block head %}
    <title>Mailbox</title>
    <link rel="stylesheet" type="text/css" href="/static/mailbox.css">
{% endblock %}

{% block content %}
<h1>Mail ({{box}})</h1>

<div class="box_select">
    <a class="box_item{% if box == 'inbox' %} selected{% endif %} normal white" href="{{url_for('mailbox', box='inbox')}}">Inbox</a>
    <a class="box_item{% if box == 'sent' %} selected{% endif %} normal white" href="{{url_for('mailbox', box='sent')}}">Sent</a>
    <a class="box_item{% if box == 'archive' %} selected{% endif %} normal white" href="{{url_for('mailbox', box='archive')}}">Archive</a>
    <a class="box_item{% if box == 'trash' %} selected{% endif %} normal white" href="{{url_for('mailbox', box='trash')}}">Trash</a>
</div>

<div class="table_line darkest">
    <div class="table_main normal white">Message</div>
    <div class="table_move normal white">To archive</div>
    <div class="table_move normal white">To trash</div>
</div>

{% for message in messages[pagination.first:pagination.last] %}
<div class="table_line {{loop.cycle('light', 'dark')}}">
    <div class="table_main">
        <a class="big" href="{{url_for('mail_read', message_id=message.id)}}">{{message.subject}}</a>
        <div class="tiny">from <a class="tiny" href="{{url_for('user_profile', user_id=message.sender_id)}}">{{message.sender.login}}</a> to <a class="tiny" href="{{url_for('user_profile', user_id=message.recipient_id)}}">{{message.recipient.login}}</a>, {{message.date.strftime('%d %b %Y')}}</div>
    </div>
    <div class="table_move">
        <a href="{{url_for('mail_move', message_id=message.id, directory=2)}}"><img src="/static/icon_archive.png"></a>
    </div>
    <div class="table_move">
        <a href="{{url_for('mail_move', message_id=message.id, directory=3)}}"><img src="/static/icon_del.png"></a>
    </div>
</div>
{% endfor %}

<div class="pages">
    <a class="page_firstlast" href="{{url_for('mailbox', page=1, box=box)}}">First</a>
{% for page_number in pagination.pages_list %}
    {% if page_number == pagination.page %}
    <a class="current_page_number" href="{{url_for('mailbox', page=page_number, box=box)}}">{{page_number}}</a>
    {% else %}
    <a class="page_number" href="{{url_for('mailbox', page=page_number, box=box)}}">{{page_number}}</a>
    {% endif %}
{% endfor %}
    <a class="page_firstlast" href="{{url_for('mailbox', page=pagination.pages, box=box)}}">Last</a>
</div>

<a class="button" href="{{url_for('mail_write')}}">New message</a>

{% endblock %}