{% extends "base.html" %}

{% block head %}
    <title>Mailbox</title>
{% endblock %}

{% block content %}
<h1>Mail ({{box}}) </h1>

<hr>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-sm btn-default{% if box == 'inbox' %} active{% endif %}" href="{{url_for('mailbox', box='inbox')}}">Inbox</a>
        <a class="btn btn-sm btn-default{% if box == 'sent' %} active{% endif %}" href="{{url_for('mailbox', box='sent')}}">Sent</a>
        <a class="btn btn-sm btn-default{% if box == 'archive' %} active{% endif %}" href="{{url_for('mailbox', box='archive')}}">Archive</a>
        <a class="btn btn-sm btn-default{% if box == 'trash' %} active{% endif %}" href="{{url_for('mailbox', box='trash')}}">Trash</a>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-6">Message</th>
            <th class="col-md-3 text-center">{% if box in ['archive', 'trash'] %}Restore{% else %}To archive{% endif %}</th>
            <th class="col-md-3 text-center">{% if box == 'trash' %}Delete{% else %}To trash{% endif %}</th>
        </tr>
    </thead>

    <tbody>
        {% for message in messages[pagination.first:pagination.last] %}
        <tr>
            <td>
                <h5><a href="{{url_for('mail_read', message_id=message.id)}}">{% if not message.read %}<i class="glyphicon glyphicon-envelope"></i> {% endif %}{{message.subject}}</a></h5>
                <div class="tiny-text">from <a href="{{url_for('user_profile', user_id=message.sender_id)}}">{{message.sender.login}}</a> to <a href="{{url_for('user_profile', user_id=message.recipient_id)}}">{{message.recipient.login}}</a>, {{message.date.strftime('%d %b %Y')}}</div>
            </td>
            <td class="text-center valign-middle">
                {% if box in ['archive', 'trash'] %}
                <a href="{% if message.sender == user %}{{url_for('mail_move', message_id=message.id, directory=1)}}{% else %}{{url_for('mail_move', message_id=message.id, directory=0)}}{% endif %}"><i class="glyphicon glyphicon-log-out"></i></a>
                {% else %}
                <a href="{{url_for('mail_move', message_id=message.id, directory=2)}}"><i class="glyphicon glyphicon-log-in"></i></a>
                {% endif %}
            </td>
            <td class="text-center valign-middle">
                <a href="{{url_for('mail_move', message_id=message.id, directory=3)}}"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    <li><a href="{{url_for('mailbox', page=1, box=box)}}">&laquo;</a></li>
    {% for page_number in pagination.pages_list %}
    <li{% if page_number == pagination.page %} class="active"{% endif %}>
        <a href="{{url_for('mailbox', page=page_number, box=box)}}">{{page_number}}</a>
    </li>
    {% endfor %}
    <li><a href="{{url_for('mailbox', page=pagination.pages, box=box)}}">&raquo;</a></li>
</ul>

<br>

<a class="btn btn-primary" href="{{url_for('mail_write')}}">New message</a>

{% endblock %}