{% extends "base.html" %}

{% block head %}
    <title>New message</title>
    <link rel="stylesheet" type="text/css" href="/static/mail_write.css">
{% endblock %}

{% block content %}
<h1>New message</h1>

<form method="post" onsubmit="return PostingFormValidate()">
    {{form_recepient.hidden_tag()}}
    {{form_subject.hidden_tag()}}
    {{form_message.hidden_tag()}}
    {% if recepient %}
        {{form_recepient.recepient(value=recepient.login, class='normal', onclick='PostingFormUnmark(this); selectUserOpen()')}}
    {% else %}
        {{form_recepient.recepient(placeholder='Username', class='normal', onclick='PostingFormUnmark(this); selectUserOpen()')}}
    {% endif %}
    {% if subject %}
        {{form_subject.topic(value=subject, class='normal', onkeyup='PostingFormUnmark(this)')}}
    {% else %}
        {{form_subject.topic(placeholder='Subject', class='normal', onkeyup='PostingFormUnmark(this)')}}
    {% endif %}
    <div class="format-block">
        <img class="format-button" src="/static/button_bold.png" onclick="makeFormated('b')">
        <img class="format-button" src="/static/button_italic.png" onclick="makeFormated('i')">
        <img class="format-button" src="/static/button_underlined.png" onclick="makeFormated('u')">
        <img class="format-button" src="/static/button_url.png" onclick="makeURL('url')">
        <img class="format-button" src="/static/button_img.png" onclick="makeIMG('img')">
    </div>
    {{form_message.message(placeholder='Enter your text here', class="normal", onkeyup="PostingFormUnmark(this)")}}
    <input class="submit" type="submit" value="Send">
</form>

<div id="overlay"></div>
<div id="dialogbox">
    <div class="big">Select recepient</div>
    <input id="dialog-input" type="text" onkeyup="selectSearch()">
    <select id="dialog-select" size="8" onclick="selectUser(this)" ondblclick="selectUserClose()">
        {% for user in all_users %}
        <option>{{user.login}}</option>
        {% endfor %}
    </select>
    <div class="button" onclick="selectUserClose()">Ok</div>
</div>

{% endblock %}