{% extends "base.html" %}

{% block head %}
    <title>Mail: {{message.subject}}</title>
{% endblock %}


{% block content %}
<h1>{{message.subject}}</h1>

<hr>

<table class="table">
    <tbody>
        <tr>
            <td rowspan="2" class="col-md-1 text-center">
                <a href="{{url_for('user_profile', user_id=message.sender_id)}}">
                    <img src="{{message.sender.avatar_thumb}}" title="{{message.sender.login}}">
                </a>
            </td>
            <td class="tiny-text col-md-11">
                from <a href="{{url_for('user_profile', user_id=message.sender_id)}}">{{message.sender.login}}</a>,
                {{message.date.strftime('%H:%M, %d %b %Y')}}
            </td>
        </tr>
        <tr>
            <td class="message-text" colspan="2">{{message.text|safe}}</td>
        </tr>
    </tbody>
</table>

<a class="btn btn-primary" href="{{url_for('mail_write', recepient=message.sender.id, subject=message.subject, previous_text=message.text)}}">Reply</a>

{% endblock %}