{% extends "base.html" %}

{% block head %}
    <title>Edit profile</title>
    <link rel="stylesheet" type="text/css" href="/static/profile.css">
{% endblock %}

{% block content %}
<h1>{{current_user.login}}</h1>

<hr>

<form action="" method="post" name="edit" enctype=multipart/form-data onSubmit="return ProfileFormValidate()">
    <div class="avatar_block">
        <div class="avatar"><img src="{{user.avatar}}"></div>
        <div class="avatar_wrap">
            <div class="avatar_button_text">change</div>
            {{profile_form.avatar(class="avatar_button", onChange="ShowAvatarName()")}}
        </div>
        <div class="tiny" id="new_avatar"></div>
    </div>

    <div class="info_block">
        <div class="info_text">
            <div class="info_text_name normal">
                Role:<br>
                City:<br>
                Country:<br>
                E-mail:<br>
                Topics:<br>
                Messages:<br>
                Registered:<br>
                Last seen:
            </div>

            <div class="info_text_value normal">
                {% if current_user.role == 0 %}
                admin<br>
                {% elif current_user.role == 1 %}
                moderator<br>
                {% else %}
                user<br>
                {% endif %}
                {{profile_form.city(class="edit_field", value=current_user.city)}}
                {{profile_form.country(class="edit_field", value=current_user.country)}}
                {{profile_form.email(class="edit_field last", value=current_user.email)}}
                {{current_user.topic_count}}<br>
                {{current_user.message_count}}<br>
                {{current_user.reg_date.strftime('%H:%M, %d %b %Y')}}<br>
                {{current_user.last_seen.strftime('%H:%M, %d %b %Y')}}
            </div>
        </div>
        <input class="submit" type="submit" value="save">
    </div>
</form>

{% endblock %}