{% extends "base.html" %}

{% block head %}
    <title>Edit profile</title>
{% endblock %}

{% block content %}
<h1>{{current_user.login}}</h1>

<hr>

<form class="form-horizontal" role="form" action="" method="post" enctype=multipart/form-data>
    <div class="col-md-2">
        <img src="{{user.avatar}}">
        {{profile_form.avatar(class="avatar-button", onChange="ShowAvatarName()")}}
    </div>

    <div class="col-md-10">
        <div class="form-group">
            <label class="col-md-2 control-label">Role:</label>
            <div class="col-md-3">
                <p class="form-control-static">
                    {% if current_user.role == 0 %}
                    admin
                    {% elif current_user.role == 1 %}
                    moderator
                    {% else %}
                    user
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">City:</label>
            <div class="col-md-3">
                {{profile_form.city(value=current_user.city, class="form-control")}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Country:</label>
            <div class="col-md-3">
                {{profile_form.country(value=current_user.country, class="form-control")}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">E-mail:</label>
            <div class="col-md-3">
                {{profile_form.email(value=current_user.email, class="form-control")}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Topics:</label>
            <div class="col-md-3">
                <p class="form-control-static">
                    {{current_user.topic_count}}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Messages:</label>
            <div class="col-md-3">
                <p class="form-control-static">
                    {{current_user.message_count}}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Registered:</label>
            <div class="col-md-3">
                <p class="form-control-static">
                    {{current_user.reg_date.strftime('%H:%M, %d %b %Y')}}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Last seen:</label>
            <div class="col-md-3">
                <p class="form-control-static">
                    {{current_user.last_seen.strftime('%H:%M, %d %b %Y')}}
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <input class="btn btn-primary form-control" type="submit" value="Save">
            </div>
        </div>
    </div>
</form>


{% endblock %}