{% extends "base.html" %}

{% block head %}
    <title>User: {{profile.login}}</title>
{% endblock %}

{% block content %}
<h1>{{profile.login}}
{% if user == profile %}
<a href="{{url_for('edit_profile')}}"><sup><small><i class="glyphicon glyphicon-pencil"></i></small></sup></a>
{% endif %}
</h1>

<hr>

<div class="row">
    <div class="col-md-2">
        <img src="{{profile.avatar}}">
    </div>

    <div class="col-md-1">
        <p>Role:</p>
        <p>City:</p>
        <p>Country:</p>
        <p>E-mail:</p>
        <p>Topics:</p>
        <p>Messages:</p>
        <p>Registered:</p>
        <p>Last seen:
    </div>

    <div class="col-md-9">
        {% if profile.role == 0 %}
        <p>admin</p>
        {% elif profile.role == 1 %}
        <p>moderator</p>
        {% else %}
        <p>user</p>
        {% endif %}
        <p>{{profile.city}}</p>
        <p>{{profile.country}}</p>
        <p>{{profile.email}}</p>
        <p>{{profile.topic_count}}</p>
        <p>{{profile.message_count}}</p>
        <p>{{profile.reg_date.strftime('%H:%M, %d %b %Y')}}</p>
        <p>{{profile.last_seen.strftime('%H:%M, %d %b %Y')}}</p>
    </div>
</div>

{% endblock %}