{% extends "base.html" %}

{% block title %}
    <title>Topic: {{topic.name}}</title>
{% endblock %}

{% block content %}
<h1>{{topic.name}}
{% if topic.author == current_user %}
<a class="t_delete_topic" href="{{url_for('delete_topic', topic_id=topic.id)}}">(delete)</a>
{% endif %}
</h1>


{% for message in topic.message %}
<div class="t_message_body">
    <div class="t_message_info">posted by <a class="t_author" href="{{url_for('user_profile', user_id=message.author.id)}}">{{message.author.login}}</a>,
        {{message.date.strftime('%H:%M, %d %b %Y')}}{% if message.date_edit %},
        edited at {{message.date_edit.strftime('%H:%M, %d %b %Y')}}
        {% endif %}
    </div>
    {% if message.author == current_user %}
    <div class="t_message_options">
        <a class="t_edit_del" href="{{url_for('edit_message', message_id=message.id)}}">Edit</a>
        <a class="t_edit_del" href="{{url_for('delete_message', message_id=message.id)}}">Delete</a>
    </div>
    {% endif %}
    <hr>
    <div class="t_message_text">{{message.text|safe}}</div>
</div>
{% endfor %}

<hr>

{% if user.is_authenticated() %}
<form method="post" onsubmit="return PostingFormValidate()">
    {{form_message.hidden_tag()}}
    <div class="f_t_format_block">
        <img class="t_format_button" src="/static/button_bold.png" onclick="makeFormated('b')">
        <img class="t_format_button" src="/static/button_italic.png" onclick="makeFormated('i')">
        <img class="t_format_button" src="/static/button_underlined.png" onclick="makeFormated('u')">
        <img class="t_format_button" src="/static/button_url.png" onclick="makeURL('url')">
        <img class="t_format_button" src="/static/button_img.png" onclick="makeIMG('img')">
    </div>
    {{form_message.message(placeholder='Enter your text here', class="f_t_form_message", onkeyup="PostingFormUnmark(this)")}}
    <input class="submit_button" type="submit" value="send">
</form>
{% endif %}


{% endblock %}