{% extends "base.html" %}

{% block title %}
    <title>Topic: {{topic.name}}</title>
{% endblock %}

{% block content %}
<h1>{{topic.name}}
{% if topic.author == current_user or current_user.role < 2 %}
<a class="t_delete_topic" href="{{url_for('delete_topic', topic_id=topic.id)}}">(delete)</a>
{% endif %}
</h1>

<hr>

{% for message in topic.message[pagination.first:pagination.last] %}
<div class="t_message_body">
    <div class="t_message_info">posted by <a class="t_author" href="{{url_for('user_profile', user_id=message.author_id)}}">{{message.author.login}}</a>,
        {{message.date.strftime('%H:%M, %d %b %Y')}}{% if message.date_edit %},
        edited
        {% if message.editor and message.editor != message.author %}
        by <a class="t_author" href="{{url_for('user_profile', user_id=message.editor_id)}}">{{message.editor.login}}</a>
        {% endif %}
        at {{message.date_edit.strftime('%H:%M, %d %b %Y')}}
        {% endif %}
    </div>
    {% if message.author == current_user or current_user.role < 2 %}
    <div class="t_message_options">
        <a class="t_edit_del" href="{{url_for('edit_message', message_id=message.id)}}">Edit</a>
        <a class="t_edit_del" href="{{url_for('delete_message', message_id=message.id)}}">Delete</a>
    </div>
    {% endif %}
    <hr>
    <div class="t_message_text">{{message.text|safe}}</div>
</div>
{% endfor %}

<div class="t_pages">
    <a class="t_page_firstlast" href="{{url_for('topic', topic_id=topic.id, page=1)}}">First</a>
{% for page_number in pagination.pages_list %}
    {% if page_number == pagination.page %}
    <a class="t_current_page_number" href="{{url_for('topic', topic_id=topic.id, page=page_number)}}">{{page_number}}</a>
    {% else %}
    <a class="t_page_number" href="{{url_for('topic', topic_id=topic.id, page=page_number)}}">{{page_number}}</a>
    {% endif %}
{% endfor %}
    <a class="t_page_firstlast" href="{{url_for('topic', topic_id=topic.id, page=pagination.pages)}}">Last</a>
</div>

<hr>

{% if user.is_authenticated() %}
<form method="post" onsubmit="return PostingFormValidate()">
    {{form_message.hidden_tag()}}
    <div class="f_t_format_block">
        <img class="t_format_button" src="/static/button_bold.png" onclick="makeFormated('b')">
        <img class="t_format_button" src="/static/button_italic.png" onclick="makeFormated('i')">
        <img class="t_format_button" src="/static/button_underlined.png" onclick="makeFormated('u')">
        <img class="t_format_button" src="/static/button_url.png" onclick="makeURL('url')">
        <img class="t_format_button" src="/static/button_img.png" onclick="makeIMG('img')">
    </div>
    {{form_message.message(placeholder='Enter your text here', class="f_t_form_message", onkeyup="PostingFormUnmark(this)")}}
    <input class="submit_button" type="submit" value="send">
</form>
{% endif %}


{% endblock %}