{% extends "base.html" %}

{% block head %}
    <title>Users list</title>
{% endblock %}

{% block content %}
<h1>Users</h1>

<hr>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-4">
                Login
                <a href="{{url_for('userlist', sort='login', desc=True)}}"><small><i class="glyphicon glyphicon-arrow-up"></i></small></a>
                <a href="{{url_for('userlist', sort='login', desc=False)}}"><small><i class="glyphicon glyphicon-arrow-down"></i></small></a>
            </th>
            <th class="col-md-2 text-center">
                Last seen
                <a href="{{url_for('userlist', sort='last_seen', desc=True)}}"><small><i class="glyphicon glyphicon-arrow-up"></i></small></a>
                <a href="{{url_for('userlist', sort='last_seen', desc=False)}}"><small><i class="glyphicon glyphicon-arrow-down"></i></small></a>
            </th>
            <th class="col-md-2 text-center">
                Registered
                <a href="{{url_for('userlist', sort='reg_date', desc=True)}}"><small><i class="glyphicon glyphicon-arrow-up"></i></small></a>
                <a href="{{url_for('userlist', sort='reg_date', desc=False)}}"><small><i class="glyphicon glyphicon-arrow-down"></i></small></a>
            </th>
            <th class="col-md-2 text-center">
                Topics
                <a href="{{url_for('userlist', sort='topics', desc=True)}}"><small><i class="glyphicon glyphicon-arrow-up"></i></small></a>
                <a href="{{url_for('userlist', sort='topics', desc=False)}}"><small><i class="glyphicon glyphicon-arrow-down"></i></small></a>
            </th>
            <th class="col-md-2 text-center">
                Messages
                <a href="{{url_for('userlist', sort='messages', desc=True)}}"><small><i class="glyphicon glyphicon-arrow-up"></i></small></a>
                <a href="{{url_for('userlist', sort='messages', desc=False)}}"><small><i class="glyphicon glyphicon-arrow-down"></i></small></a>
            </th>
        </tr>
    </thead>

    <tbody>
        {% for user in users_list[pagination.first:pagination.last] %}
        <tr>
            <td>
            {% if user.role < 2 %}
                <b><a href="{{url_for('user_profile', user_id=user.id)}}">{{user.login}}</a></b>
            {% elif not user.active %}
                <del><a href="{{url_for('user_profile', user_id=user.id)}}">{{user.login}}</a></del>
            {% else %}
                <a href="{{url_for('user_profile', user_id=user.id)}}">{{user.login}}</a>
            {% endif %}
            </td>
            <td class="text-center">{{user.last_seen.strftime('%d %b %Y')}}</td>
            <td class="text-center">{{user.reg_date.strftime('%d %b %Y')}}</td>
            <td class="text-center">{{user.topic_count}}</td>
            <td class="text-center">{{user.message_count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagination">
    <li><a href="{{url_for('userlist', page=1)}}">&laquo;</a></li>
    {% for page_number in pagination.pages_list %}
    <li{% if page_number == pagination.page %} class="active"{% endif %}>
        <a href="{{url_for('userlist', page=page_number)}}">{{page_number}}</a>
    </li>
    {% endfor %}
    <li><a href="{{url_for('userlist', page=pagination.pages)}}">&raquo;</a></li>
</ul>

{% endblock %}