{% extends "base.html" %}

{% block head %}
    <title>Users list</title>
    <link rel="stylesheet" type="text/css" href="/static/userlist.css">
{% endblock %}

{% block content %}
<h1>Users</h1>

<div class="table_line darkest">
    <div class="table_login normal white">
        Login
        <a href="{{url_for('userlist', sort='login', desc=True)}}"><img src="/static/icon_sort_desc.png"></a>
        <a href="{{url_for('userlist', sort='login', desc=False)}}"><img src="/static/icon_sort_asc.png"></a>
    </div>
    <div class="table_detail normal white">
        Last seen
        <a href="{{url_for('userlist', sort='last_seen', desc=True)}}"><img src="/static/icon_sort_desc.png"></a>
        <a href="{{url_for('userlist', sort='last_seen', desc=False)}}"><img src="/static/icon_sort_asc.png"></a>
    </div>
    <div class="table_detail normal white">
        Registered
        <a href="{{url_for('userlist', sort='reg_date', desc=True)}}"><img src="/static/icon_sort_desc.png"></a>
        <a href="{{url_for('userlist', sort='reg_date', desc=False)}}"><img src="/static/icon_sort_asc.png"></a>
    </div>
    <div class="table_detail normal white">
        Topics
        <a href="{{url_for('userlist', sort='topics', desc=True)}}"><img src="/static/icon_sort_desc.png"></a>
        <a href="{{url_for('userlist', sort='topics', desc=False)}}"><img src="/static/icon_sort_asc.png"></a>
    </div>
    <div class="table_detail normal white">
        Messages
        <a href="{{url_for('userlist', sort='messages', desc=True)}}"><img src="/static/icon_sort_desc.png"></a>
        <a href="{{url_for('userlist', sort='messages', desc=False)}}"><img src="/static/icon_sort_asc.png"></a>
    </div>
</div>

{% for user in users_list[pagination.first:pagination.last] %}
<div class="table_line {{loop.cycle('light', 'dark')}}">
    <div class="table_login">
    {% if user.role < 2 %}
        <b><a class="normal" href="{{url_for('user_profile', user_id=user.id)}}">{{user.login}}</a></b>
    {% else %}
        <a class="normal" href="{{url_for('user_profile', user_id=user.id)}}">{{user.login}}</a>
    {% endif %}
    </div>
    <div class="table_detail normal">{{user.last_seen.strftime('%d %b %Y')}}</div>
    <div class="table_detail normal">{{user.reg_date.strftime('%d %b %Y')}}</div>
    <div class="table_detail normal">{{user.topic_count}}</div>
    <div class="table_detail normal">{{user.message_count}}</div>
</div>
{% endfor %}

<div class="pages">
    <a class="page_firstlast" href="{{url_for('userlist', page=1)}}">First</a>
{% for page_number in pagination.pages_list %}
    {% if page_number == pagination.page %}
    <a class="current_page_number" href="{{url_for('userlist', page=page_number)}}">{{page_number}}</a>
    {% else %}
    <a class="page_number" href="{{url_for('userlist', page=page_number)}}">{{page_number}}</a>
    {% endif %}
{% endfor %}
    <a class="page_firstlast" href="{{url_for('userlist', page=pagination.pages)}}">Last</a>
</div>

{% endblock %}